.layout {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;

}

 .mainContent {
  flex: 1;
} 

.sidebar {
     background: whitesmoke;
     padding: 10px;
     height: 100vh;
}


.outlet {
  background: #ffffff;
  padding: 20px;
}

footer {
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
}
.light {
  background-color: #202020;
  width: 100%;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  flex:2;
}