.light {
    background-color: #202020;
    width: 100vw;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin-top: 20px;
   
}

.dark {
    background-color: pink;
    width: 100vw;   
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}